/.Common.java._trace
/.Common.xtendbin
/.MGPLRuntimeModule.java._trace
/.MGPLRuntimeModule.xtendbin
/.MGPLStandaloneSetup.java._trace
/.MGPLStandaloneSetup.xtendbin
/Common.java
/MGPLRuntimeModule.java
/MGPLStandaloneSetup.java
